@model LocalServer.WebUI.Models.PriceDisplayListViewModel

@{
    ViewBag.Title = "listPriceDisplays";
}


<h2>Price Displays</h2>

<p>@Html.ActionLink("Add a new price display unit", "Create")</p>

<table class="Grid">
    <tr>
        <th>
            ID
        </th>
        <th>
            Barcode
        </th>
        <th>
            Actions
        </th>
        
    </tr>
@{
  foreach (var item in Model.PriceDisplays) 
  {
     
    <tr>
        
        <td>@item.priceDisplayID</td>
        <td>@item.barcode</td>
        <td>@Html.ActionLink("Edit", "Edit", new { item.priceDisplayID })</td>
        
    </tr>
    }
      
}