@model LocalServer.WebUI.Models.CashRegisterListViewModel
 @{
    ViewBag.Title = "listCashRegisters";
}

<h2>Cash Registers</h2>
@Html.ActionLink("Add a new cash register", "AddCashRegister")</p>
<table class="Grid">
    <tr>
        <th>
            ID
        </th>
        <th>
            Status
        </th>
        
    </tr>
@{
    int i=1;
  foreach (var item in Model.CashRegisters) 
  {
      string text = item.cashRegisterID.ToString();
    <tr>
        
        <td>@item.cashRegisterID</td>
        <td>@item.status</td>
        
    </tr>
    }
      
}
