@using LocalServer.Domain.Entities
@{
ViewBag.Title = "Admin: Edit " + @Model.productName;
Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit","Inventory")) {
    
        <div>
        <fieldset>
            <legend>Edit @Model.productName</legend>

            @Html.EditorForModel()
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    </div>
}
@Html.ActionLink("Cancel and return to List", "List")
