@{
    ViewBag.Title = "RefreshProducts";
}

<h2>Refresh Products</h2>

<h3>
    The Products have been synced with the HQ.
    <br />
    Discontinued products - 
    @foreach (var item in Model)
    { 
        <br />
        @item
    }
</h3>