@{
    ViewBag.Title = "ViewDetail";
}

<h2>ViewDetail</h2>

<table>
    <tr>
        <th>Barcode
        </th>
        <th>Quantity
        </th>
    </tr>
    @foreach (var item in Model)
    {
        
            
        <td>
            @item.barcode
        </td>
        <td>
            @item.quantity
        </td>
    }
</table>
